@media (max-width: 575.98px) {
    *{
        margin: 0;
        padding: 0;
    }
    .faqstart{
        /* -webkit-box-shadow: -4px 2px 34px -18px rgba(0,34,255,1);
    -moz-box-shadow: -4px 2px 34px -18px rgba(0,34,255,1);
    box-shadow: -4px 2px 34px -18px rgba(0,34,255,1); */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    
    padding: 8px;
    margin-top: 30px;
    }
     .faqstart>h1{
        font-size: 24px;
        padding: 10px;
        text-align: center;
    }
    .faqstart>p{
        font-size: 20px;
        text-align: center;
        padding: 7px;
    
    }
    .faq{
            cursor: pointer;
            border:1px solid coral;
            padding: 10px;
            margin: 15px;
            margin-bottom: 10px;
            
        }
        .question>h2{
            font-weight: 500;
            font-size: 15px;
            padding: 8px;
            /* margin-bottom: 30px; */
         } 
        .answer>h3{
            text-indent: 50px;
            font-size: 15px;
            text-align: justify;
            line-height: 23px;
        }
    .question{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    
    /* contact us */
    
  .contactdiv{
    background-color: rgb(239, 230, 247);
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .contactdiv>h2{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
  }
  .contactdiv>h5{
    text-align: center;
    font-size: 17px;
  }
  form{
   margin: 10px;
   background-color: rgb(255, 255, 255);
   padding: 20px;
   border-radius: 5px;

   position: relative;
  }
  .input-data input,.submit-btn input{
    width: 90%;
    overflow: hidden;
    background-color: rgb(239, 230, 247);
    border: thin;
    height: 45px;
  }
  .input-data textarea{
    overflow: hidden;
    background-color: rgb(239, 230, 247);
    border: thin;
  }
  .input-data label{
    margin-bottom: 5px;
  }
  .submit-btn input{
    width: 130px;
    position: relative;
    left: 65%;

  }

  .social-media{
    width: 95%;
    margin: 0 auto;
  }
  .social-media a{
    font-size: 20px;
    text-decoration: none;
    color: black;
  }
  .social-media .don{
    position:relative;
    top:8px;
    left: 5px;
  }
  .social-media .address{
    border: .1px solid none;
    /* position: relative;
    left: 30%; */
    height: 60px;
    margin-bottom: 5px;
  }
  .social-media .address svg{
    font-size:30px;
    position: relative;
    top: 7px;
  }
  .social-media .call{
    border: .1px solid none;
    /* position: relative;
    left: 30%; */
    height: 60px;
    margin-bottom: 5px;

  }
  .social-media .call svg{
    font-size:30px;
    position: relative;
    top: 7px;
  }
  .social-media .email{
    border: .1px solid none;
    /* position: relative;
    left: 30%; */
    height: 60px;
    margin-bottom: 5px;

  }
  .social-media .email svg{
    font-size:30px;
    position: relative;
    top: 7px;
  } 
  .icon{
    margin-top: 10px;
    gap: 16px;
    display: flex;
    align-content: space-between;
    font-size: 20px;
    position: relative;
    left: 40%;
    transition: all 0.4s ease;
  }


}

