@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Slab&family=Vollkorn&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* overflow hidden */
html {
    overflow-x: hidden;
}


/* Media Queries */
@media (max-width: 575.98px) {

    /* nav brand */
    .main-img {
        display: none;
    }

    .nav-brand {
        height: 70px;
        width: 200px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
    }

    /* main para css */
    .glass {

        background-image: url(../assets/illustration-1\ light.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.20);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
    }

    /* shine animation */
    .main-text::before {
        content: "";
        position: absolute;
        left: -100%;
        width: 100%;
        height: 8%;
        background: linear-gradient(to right, transparent, #ffffff73, transparent);
        animation: shine 3.3s linear infinite;

    }


    /* keyframe */

    .main-img>img {
        height: 10rem;
        width: 40%;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* shine animation */
    .sub-devstella::before {
        content: "";
        position: absolute;
        left: -100%;
        width: 100%;
        height: 3%;
        background: linear-gradient(to right, transparent, #ffffff3a, transparent);
        animation: shine 3.3s linear infinite;

    }

    /* btn-9  */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }


    .btn-a>i {
        color: blueviolet;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

    /* nav brand */
    .main-img {
        display: none;
    }

    .nav-brand {
        height: 70px;
        width: 200px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
    }

    /* main para css */
    .glass {

        background-image: url(../assets/illustration-1\ light.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.23);
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
    }

    .main-img>img {
        height: 10rem;
        width: 40%;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* btn-11 */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }

    .btn-a>i {
        color: blueviolet;
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
   
    
    /* nav brand */

    .nav-brand {
        height: 80px;
        width: 200px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
    }

    /* main para css */
    .glass {

        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.63);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
    }

    .main-img>img {
        height: 350px;
    }

    .main-img {
        display: flex;
        position: absolute;
        margin-left: 50rem;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* btn-11 */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }

    .btn-a>i {
        color: blueviolet;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    
    .nav-center{
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
    }
    /* nav-brand */
    .nav-brand {
        height: 100px;
        width: 300px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
    }

    /* main para css */
    .glass {

        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.63);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
    }

    .main-img>img {
        height: 450px;
    }

    .main-img {
        display: flex;
        position: absolute;
        margin-left: 50rem;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
        font-size: 1.32em;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* btn-11 */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }

    .btn-a>i {
        color: blueviolet;
    }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
    .nav-center{
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
    }

    /* nav brand */
    .nav-brand {
        height: 100px;
        width: 300px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
        font-size: 25px;
    }

    /* main para css */
    .glass {

        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.63);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 35px;
    }


    .main-img>img {
        height: 525px;
    }

    .main-img {
        display: flex;
        position: absolute;
        margin-left: 70rem;
        margin-top: -50px;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
        font-size:1.4em;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* btn-11 */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        font-size: 18px;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }

    .btn-a>i {
        color: blueviolet;
    }
}

/* upto to 2560 pixels devices larger devices */
@media (min-width: 1400px) and (max-width: 2560px) {

    .nav-center{
        display: flex !important;
        align-items: flex-end !important;
        justify-content: flex-end !important;
        font-size: 1.5em ;
    }
    /* nav brand */
    .nav-brand {
        height: 130px;
        width: 340px;
    }

    .my-nav {
        padding: 0 !important;
    }

    .nav-bar {
        box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    }

    .mybtn {
        border: none !important;
    }

    .mybtn:focus {
        box-shadow: none !important;
    }

    .nav-link {
        font-family: 'Roboto Slab', serif !important;
    }

    /* main para css */
    .glass {

        background-size: cover;
        background-repeat: no-repeat;
        height: 600px;
        margin-top: 10px;
    }

    .main-para {
        position: inherit;
        background: rgba(255, 255, 255, 0.63);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 10px;
        height: 600px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-text {
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: bold;
        font-size: 40px;
    }


    .main-img>img {
        height: 525px;
    }

    .main-img {
        display: flex;
        position: absolute;
        margin-left: 70rem;
        margin-top: -50px;
    }

    .sub-para {
        padding: .5rem;
    }

    .sub-text {
        font-family: 'Vollkorn', serif;
        padding: .5rem;
        font-size:1.5em;
    }

    .sub-devstella {
        color: blueviolet;
        font-weight: bolder;
        font-size: larger;
    }

    /* btn-11 */
    .btn-9 {
        border: none;
        width: 10rem;
        height: 2.5rem;
        font-size: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        background-color: black;
        color: white;
        font-family: 'Caprasimo', cursive;
    }

    .btn-a>i {
        color: blueviolet;
    }
}