/* Google fonts */

* {
    margin: 0;
    padding: 0;
}
/* fade in css for scroll */

.fade-in {
    opacity: 0;
    transition: opacity 1.3s ease-in;
  }
  .fade-in.active {
    opacity: 1;
  }

/* end of fade-In css */

.service-img {
    height: 120px;
    width: 200px;
}

.app-dev {
    border: 1px solid black;
}

.web-dev {
    border: 1px solid black;
}

.support {
    border: 1px solid black;
}